body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(207, 207, 207);
}
#ourMenu{
text-align: center;
margin-top: 5%;
}
main{
    width: 100%;
    margin: 0% 5% 0% 5%;
}
.text{
    border:  1px solid;
    position: relative;
    float: left;
    width: 28%;
    margin-left: 2% ;
    background-color: #fff;
}
.title{
    position: absolute;
    right: 0px;
    border-left:1px solid;
    border-bottom: 1px solid;
    width: 20%;
    text-align: center;
}
.text :nth-child(2)  {
    padding: 12%;
}
@media (min-width : 768px) and (max-width :992px) {
    
    .text{
        width: 44%;
        margin-left: 2% ;
        margin-bottom: 2%;
    }
    main :nth-child(3)  {
        width: 90%;
    }

}
@media only screen and (max-width : 767px) {
    
    .text{
        width: 90%;
        margin-bottom: 2%;
    }
   

}
main :nth-child(1) .title{
    background-color: rgb(208, 213, 103);
}
main :nth-child(2) .title{
    background-color: rgb(232, 145, 102);
}
main :nth-child(3) .title{
    background-color: rgb(0, 255, 64);
}